.home {
    padding: 2rem 0;
    width: 100%;
    box-sizing: border-box;
}

.search-form {
    max-width: 600px;
    margin: 0 auto 2rem;
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
    box-sizing: border-box;
}

.search-input {
    flex: 1;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 1rem;
    background-color: #33333349;
    color: white;
    font-size: 1rem;
}

.search-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #666;
}

.search-submit-btn {
    padding: 0.75rem 1.5rem;
    background-color: #e50914;
    color: white;
    border-radius: 1rem;
    font-weight: 500;
    transition: background-color 0.2s;
    white-space: nowrap;
}

.load-more-btn {
    background-color: #1a1a1a;
    color: white;
    padding: 0.75rem 1.5rem;
    margin-top: 2rem;
    border-radius: 8px;
}

.search-submit-btn:hover, .load-more-btn:hover {
    background-color: #f40612;
    cursor: pointer;
    box-shadow: #eee 0px 0px 8px;
}


@media (max-width: 639px) {
    .home {
        padding: 1rem 0;
    }

    .search-form {
        margin-bottom: 1rem;
    }
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}