
@keyframes brand-rotate {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(-45deg);
    }
    100% {
        transform: rotateY(45deg);
    }
}
.navbar {
    background-color: #000000;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 2rem;
    color: #ffffff;
    text-decoration: double;
    font-weight: bold;
    margin-left: 4rem;
    text-shadow: #df88e2 0px 0px 20px;
    animation: brand-rotate 3s infinite;
}

.navbar-links {
    display: flex;
    gap: 2rem;
}

.nav-link {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-shadow: #b500b5 0px 0px 3px;
    transition: background-color 0.2s;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .navbar-links {
        gap: 1rem;
    }

    .nav-link {
        padding: 0.5rem;
    }
}